<%- include("partials/header.ejs") %>
    <div class="container " id="allblogs">
        <% if(locals.titles.length !=0){ %>
            <% for (let index=0; index < titles.length; index++) { %>
                <div class="card" style="padding: 20px;border-radius: 50px;">
                    
                    <h3>
                            <%=titles[index] %>
                        </h3>
                    <h6>
                        <%=dates[index] %>
                    </h6>
                    <div class="btns">
                        <form action="/view-blog/<%= index %>" method="GET" style="display:inline;">
                         <button type="submit" style="margin-top: 0;padding: 5px;">View</button>
                    </form>
                        <form action="/update/<%= index %>" method="GET" style="display:inline;">
                            <button type="submit" style="margin-top: 0;padding: 5px;">Update</button>
                        </form>

                        <form action="/delete" method="POST" style="display:inline;">
                            <input type="hidden" name="index" value="<%= index %>">
                            <button type="submit"
                                style="margin-top: 0;padding: 5px;background-color: rgb(238, 40, 40);">Delete</button>
                        </form>
                    </div>
                </div>

                <% } %>
                    <% } else{ %>
                        <h1>No post yet...</h1>
                        <% } %>
    </div>
    <%- include("partials/footer.ejs") %>