<%- include("partials/header.ejs") %>
<div class="container" id="container5">
    <div class="container6">
    <h1><%= title %></h1>
    <h6><%= date %></h6>
    <p><%= content %></p>
    </div>
    <hr>
    <h2>Write the updated content below</h2>
<form action="/change" method="POST" id="update_form">
    <input type="hidden" name="index" value="<%= indx %>">
  <input name="title" type="text" class="feedback-input" placeholder="Title" value="<%=title %>"/>
  <input name="date" type="text" class="feedback-input" placeholder="Date" value="<%=date %>"/>
  <textarea name="text" class="feedback-input" placeholder="Blog Content"><%=content %></textarea>
  <% if (typeof error !== "undefined") { %>
      <p style="color: red; font-weight: bold;"><%= error %></p>
    <% } %>
      <% if (typeof message !== "undefined") { %>
      <p style="color: green; font-weight: bold;"><%= message  %></p>
    <% } %>
  <input type="submit" value="SUBMIT" style="width: 100px;margin-top: 10px; background-color: black;color: white;padding: 0;"/>
</form>    
</div>

<hr>
<%- include("partials/footer.ejs") %>